body 
{
    color: #b26060;
}

h1 
{
    color: #ffffff;  
}

#main-title 
{
    font-size: 36px;
    text-align: center
}
.banner 
{
    background-color: #559eb9;
    background-size: contain;
    background-repeat: no-repeat;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 8px 
}


.highlight 
{
    color: #b26060;
    font-weight: bold;
    text-align: center;
}

body 
{
    font-family: 'Saira', sans-serif;
    background-color: black;
}

.navbar 
{
    text-align: center;
    width: 100%;
    margin: 30px;
}

.paragraph1 
{
    color: #b26060;
    text-align-last: center;
}

table
{
    align-content: center;
}

img

{
    display: block;
    margin: auto;
    align-content: center;
}

iframe
{
    display: block;
    margin: auto;
    align-content: center;
}