body {

    color: #ffffff;
    font-size: 16px;
}

h1,h2,h3 
{
    color: #cf8aa1;
    text-align: center
}


.banner {
    background-color: #27008a;
    background-size: contain; 
    background-repeat: no-repeat;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 8px
}

#main-title 
{
    font-size: 36px;
    font-weight: 400;
    text-align:center;
    text-decoration: underline;
}
.highlight 
{
    color: #ffffff;
    font-weight: bold;
    text-align: center
}


#general-info
{
    font-style: italic;
}
body {
    font-family: 'Saira', sans-serif;
background-color: #000000
}

.navbar a
{
    color: #ffffff
}
.navbar a
{
    text-decoration: none
}
.navbar {
    text-align: center;
    width: 100%;
}
/* stuff that doesn't change*/
.navbutton {
    background-color: #5e4aab;
    border: 2px dashed #444;
    
    height: 60px;
    vertical-align: middle;
    padding: 10px;

}

/*default - mobile/phone*/
.navbutton {
    width:100%;
    margin:-2px;
}

/*tablet and up*/
@media(min-width: 830px){
    .navbutton{
    display: inline-block;
    width: 25%;
    margin: -2px;
    }
}

/*large desktop*/
@media(min-width: 1200px){
    .navbutton {
        display: inline-block;
        width:150px;
        margin:10px;
    }
}
