body {
    color: #ffffff;
    font-size: 16px;
}

h1,h2,h3 
{
    color: #cf8aa1;
    text-align: center
    font-style: underline; 
}


.banner {
    background-color: #27008a;
    background-size: contain; 
    background-repeat: no-repeat;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 8px
}

#main-title 
{
    font-size: 36px;
    font-weight: 400;
    text-align:center;
    text-decoration: underline;
}
.highlight 
{
    color: #ffffff;
    font-weight: bold;
    text-align: center
}


#general-info
{
    font-style: italic;
}
body {
    font-family: 'Saira', sans-serif;
background-color: #000000
}

.navbar a
{
    color: #ffffff
}
.navbar a 
{
    text-decoration: none
}

