body {
    color: #ffffff;
    font-size: 16px;
    font-family: "Saira", sans-serif;
    background-color: #a41717;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.banner {
    background-color: #5d42a3;
    background-size: contain;
    background-repeat: no-repeat;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
}

#main-title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
}
.highlight {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

#general-info {
    max-width: 800px;
    margin: 0 auto;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
}
.navbar {
    text-align: center;
    width: 100%;
}
/* stuff that doesn't change*/
.navbutton {
    background-color: #322c46;
    border: 2px dashed #c49898;

    height: 60px;
    vertical-align: middle;
    padding: 10px;
}

/*default - mobile/phone*/
.navbutton {
    width: 100%;
    margin: -2px;
}
.navbutton:hover {
    background-color: #bcacff;
}

/*tablet and up*/
@media (min-width: 830px) {
    .navbutton {
        display: inline-block;
        width: 25%;
        margin: -2px;
    }
}

/*large desktop*/
@media (min-width: 1200px) {
    .navbutton {
        display: inline-block;
        width: 150px;
        margin: 10px;
    }
}

iframe,
video {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}
img {
    width: 100%;
    height: auto;
}
