body {
    color: #ffffff;
    font-size: 16px;
    font-family: "Saira", sans-serif;
    background-color: #a41717;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.banner {
    background-color: #5d42a3;
    background-size: contain;
    background-repeat: no-repeat;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
}

#main-title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
}
.highlight {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

#general-info {
    max-width: 800px;
    margin: 0 auto;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* stuff that doesn't change*/
.navbutton {
    background-color: #322c46;
    border: 2px dashed #c49898;
    height: 60px;
    padding: 10px;
}

/* mobile */
.navbutton {
    width: 100%;
}

.navbutton:hover {
    background-color: #bcacff;
}

/* tablet */
@media (min-width: 830px) {
    .navbutton {
        width: 25%;
    }
}

/* large desktop */
@media (min-width: 1200px) {
    .navbutton {
        width: 150px;
        margin: 10px;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}
.video-wrapper {
    width: 100%;
    max-width: 800px; /* optional */
    margin: 0 auto;
}

.video-wrapper iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}
